{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="login-register-area pb-100" style="max-height: 800px; overflow-y: auto;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-toggle="tab" href="#lg1">
                            <h4> Register </h4>
                        </a>
                        <a data-toggle="tab" href="{% url 'login' %}">
                            <h4> Login </h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form class="form-container" action="{% url 'register' %}" method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <div class="button-box">
                                            <div class="login-toggle-btn">
                                                <input type="checkbox">
                                                <label>Remember me</label>
                                                <a href="#">Forgot Password?</a>
                                                <br>
                                                <a href="{% url 'login' %}">Have an account? Login</a>
                                            </div>
                                            <button type="submit"><span>Register</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}