<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Ultragamerz</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static  'img/favicon.png'%}"
    />

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static  'css/bootstrap.min.css'%}" />
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static  'css/icons.min.css'%}" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static  'css/plugins.css'%}" />
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static  'css/style.css'%}" />
    <!-- Modernizer JS -->
    <script src="{% static  'js/vendor/modernizr-2.8.3.min.js'%}"></script>
  </head>

  <body>
    {% include 'partials/header.html' %}
    <div class="full-page-area " style="background-image: url('{% static 'img/test3.jpg' %}');background-repeat: norepeat;
    background-position: center;
">
        <div id="fullpage">
      {% block content %}{% endblock content %}
      </div>
    </div>
    <!-- All JS is here
============================================ -->

<!-- jQuery JS -->
<script src="{% static 'js/vendor/jquery-1.12.4.min.js'%}"></script>
<!-- Popper JS -->
<script src="{% static 'js/popper.min.js'%}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<!-- Plugins JS -->
<script src="{% static 'js/plugins.js'%}"></script>
<!-- Main JS -->
<script src="{% static 'js/main.js'%}"></script>

  </body>
</html>
