{% extends 'index.html' %}
{% load static %} 
{% block content %}

<div class="slider-section flone-fp-section active" id="section2">
    <div class="container">
        <div class="row d-flex align-items-center fullpage-slider-mrg-2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="slider-content-11 slider-animated-1 fullpage-content">
                    <h3 class="animated">PlayStation 5 (PS5)</h3>
                    <h1 class="animated"> 🏆  Ultimate Gaming Experience!<br> </h1>
                    
                    <div class="slider-btn-11 btn-hover">
                        <a class="animated" href="{% url 'products' %}">SHOP NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="slider12-img-2 slider-animated-1">
                    <img class="animated" alt="" src="{% static 'img/test4.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slider-section flone-fp-section " id="section2">
    <div class="container">
        <div class="row d-flex align-items-center fullpage-slider-mrg-2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="slider-content-11 slider-animated-1 fullpage-content">
                    <h3 class="animated">PlayStation 4 pro (PS4)</h3>
                    <h1 class="animated">🎮 Unleash the Adventure</h1>
                    <div class="slider-btn-11 btn-hover">
                        <a class="animated" href="#">SHOP NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="slider12-img-2 slider-animated-1">
                    <img class="animated" alt="" src="{% static 'img/test5.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slider-section flone-fp-section last-before-footer" id="section4">
    <div class="container">
        <div class="row d-flex align-items-center fullpage-slider-mrg-2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="slider-content-11 slider-animated-1 fullpage-content">
                    <h3 class="animated">Introducing FIFA 23 </h3>
                    <h1 class="animated">🌟 Realism Redefined</h1>
                    <div class="slider-btn-11 btn-hover">
                        <a class="animated" href="#">SHOP NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="slider12-img-2 slider-animated-1">
                    <img class="animated" alt="" src="{% static 'img/test8.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slider-section flone-fp-section last-before-footer" id="section4">
    <div class="container">
        <div class="row d-flex align-items-center fullpage-slider-mrg-2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="slider-content-11 slider-animated-1 fullpage-content">
                    <h3 class="animated">FIFA 24 </h3>
                    <h1 class="animated">⚽ Where Legends Rise</h1>
                    <div class="slider-btn-11 btn-hover">
                        <a class="animated" href="#">SHOP NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="slider12-img-2 slider-animated-1">
                    <img class="animated" alt="" src="{% static 'img/test7.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partials/footer.html' %}

  {% endblock content %}

