{% extends 'index.html' %}
{% load static %} 
{% block content %}

<div class="slider-section flone-fp-section active" id="section2">
    <div class="container">
        <div class="row d-flex align-items-center fullpage-slider-mrg-2">
            
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <h1 class="animated">🎁 Ultragamerz Gaming Asset financing 🔥</h1>
                <div class="slider-content-11 slider-animated-1 fullpage-content">
                    <a class="animated" href="{% url 'products' %}">
                    <h3 class="animated">Are you ready to take your gaming business and passion to the next level?<br>Experience convenience without sacrificing your wallet. Our competitive interest rates make ownership affordable and enjoyable.  </h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="slider12-img-2 slider-animated-1">
                    <img class="animated" alt="" src="{% static 'img/test4.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slider-section flone-fp-section " id="section2">
    <div class="container">
        <div class="row d-flex align-items-center fullpage-slider-mrg-2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <h1 class="animated">🎮 Flexible Payment Plans</h1>
                <div class="slider-content-11 slider-animated-1 fullpage-content">
                    <h3 class="animated">Say goodbye to upfront costs! Our tailored financing options fit your budget, ensuring you can enjoy your new assets without breaking the bank.From monthly,daily and annual rates.</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="slider12-img-2 slider-animated-1">
                    <img class="animated" alt="" src="{% static 'img/test5.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slider-section flone-fp-section last-before-footer" id="section4">
    <div class="container">
        <div class="row d-flex align-items-center fullpage-slider-mrg-2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <h1 class="animated">🌟 Upgrade Opportunities </h1>
                <div class="slider-content-11 slider-animated-1 fullpage-content">
                    <h3 class="animated">Ready to transform your gaming den or electronics collection? Apply for our hassle-free Asset Financing today and embrace a new era of excitement and innovation!</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="slider12-img-2 slider-animated-1">
                    <img class="animated" alt="" src="{% static 'img/test8.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slider-section flone-fp-section last-before-footer" id="section4">
    <div class="container">
        <div class="row d-flex align-items-center fullpage-slider-mrg-2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <h1 class="animated">⚽ PlayStation Paradise </h1>
                <div class="slider-content-11 slider-animated-1 fullpage-content">
                    <h3 class="animated">Skip the complicated paperwork. Our user-friendly application process gets you closer to your desired PlayStation or electronic goods within minutes.</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="slider12-img-2 slider-animated-1">
                    <img class="animated" alt="" src="{% static 'img/test7.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partials/footer.html' %}

  {% endblock content %}

